{% extends "core/base.html" %}
{% block title %}details{% endblock  %}
{% block content %}
<section class="section-center">
    <!-- image -->
    <article class="gift-img">
      <img src="/media/item_images/aboutpic.jpg" alt="gift" />
    </article>
    <!-- info -->
    <article class="gift-info">
      <h3>Arvind kumar</h3>
      <h4 class="giveaway">
        this picture is created by
      </h4>
      <p>
        A Goldpic website is a online picture/image/photo sharing platform. this website you can download an image & upload an image on goldpic website and comment on any photo show that it is the best website for photo sharing on internet.and another task this website you are write a blog of any picture and you can write a new on this website...<b>Thanks</b>
      </p>
    </article>
  </section>
  
{% endblock  %}